.heading
{
    font-size: 23px;
    width:100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note
{
    font-size: 15px;
    color:black;
}

body
{
    background-size: cover;
}


canvas{
    border: 5px solid limegreen;
    border-radius: 20px;
}

#song_name
{
    box-shadow: 5px 5px 5px limegreen;
    border-radius: 20px;
    margin-top: 25px;
}